.judul{
        margin-left: 100px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.form-container {
    border: 1px solid black; 
    padding: 40px; 
    border-radius: 50px;
    margin-top: 50px; 
    backdrop-filter: blur(30px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.form-container button {
    margin-top: 30px; 
}
.table-responsive {
    overflow-x: auto;
    max-width: 85%;
    margin: auto;
}
.bar h2 {
    font-weight: bold; 
}
.btn-group .btn-edit {
    margin-right: 15px; /* Sesuaikan nilai margin-right sesuai kebutuhan Anda */
}
